
<style>

    .spacer {
      flex: 1;
    }
  
    .toolbar {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 30px;
      display: flex;
      align-items: center;
      background-color: #4a87a4;
      color: white;
      font-weight: 600;
      align-items: center;
    }
  
    .toolbar img {
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo {
      height: 40px;
      margin: 0 8px;
    }
  
    .toolbar #youtube-logo {
      height: 40px;
      margin: 0 16px;
    }
  
    .toolbar #twitter-logo:hover,
    .toolbar #youtube-logo:hover {
      opacity: 0.8;
    }
    .toolbar span{
      font-size: larger;
    }
  
    
  </style>
  
  <div class="toolbar" role="banner">
    <span></span>
      <div class="spacer"></div>
    
  </div>